$color-cyan-600: hsl(192, 37%, 48%);
$color-cyan-300: hsl(192, 90%, 77%);
$color-purple-600: hsl(268, 34%, 53%);
$color-purple-300: hsl(268, 100%, 86%);
$color-slate-900: hsl(240, 21%, 20%);
$color-slate-600: hsl(240, 10%, 57%);
$color-slate-300: hsl(240, 18%, 85%);
$color-white: hsl(0, 0%, 98%);
